.card a{
display: block;
position: absolute;
top: 0;
left: 0;
height:100%;
width: 100%;
}

.carousel{
  height: 200px;
  margin:auto;
}

/* 中略（ここに上で書いてるCSSが入っている） */

@media (min-width: 320px) {
  .carousel,
  .carousel .item,
  .carousel .item-mask,
  .carousel-inner .item .item-mask img {
    height:200px;
  }
}

@media (min-width: 768px) {
  .carousel,
  .carousel .item,
  .carousel .item-mask,
  .carousel-inner .item .item-mask img {
    height:400px;
  }
}
